/* Register your custom font family and tell the browser where to find it. */

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Lato-LightItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Lato-Italic.woff2) format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Lato-Light.woff2) format("woff2");
}

/* ----------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --bg-main: #f7f5ee; */
  --bg-main: #fffdf7;
  --color: #171717;
  --navbar-height: 48px;
}

html,
body {
  min-height: 100%;
  background: var(--bg-main);
  color: var(--color);
  /* font-family: "Poppins", sans-serif; */
  font-family: "Lato";
  touch-action: manipulation;
}

.no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}

button {
  border: none;
  background: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

main.page-wrapper {
  padding-top: var(--navbar-height);
}

p {
  max-width: 900px;
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-style: italic;
  font-weight: 300;
  min-width: min(600px, 100%);
  width: 50vw;
}

.grid-12c {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (max-width: 1400px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 400px) {
}
