*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

:root{
--bg-main:#f7f5ee;
}

html,
body {
	min-height: 100%;
	background: #f7f5ee;
font-family: "Poppins", sans-serif;
}

.wrapper{
max-width:1920px;
margin:0 auto;
	padding: 0 1rem;
}
