---

---
<header class="page-wrapper">
<div class="logo">Monika Skierecka</div>
<nav id="nav" class="">
	<ul class="nav-menu-list">
			<li><a href="/">Strona Glowna</a></li>
			<li><a href="/">Zdjecia</a></li>
			<li><a href="/">Cennik</a></li>
			<li><a href="/">Kontakt</a></li>
	</ul>
</nav>
		<button class="menu-toggle" id="menu-tggl">

	<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <!-- Example of a polyline with the default fill -->

  <!-- Example of the same polyline shape with stroke and no fill -->
  <polyline points="4,8 20,8" fill="none" stroke="currentColor" >
  <animate id="menu-top-line-on-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 8, 20 8; 4 14, 20 6;  4 20, 20 4"></animate>
  <animate id="menu-top-line-on-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 20, 20 4; 4 14, 20 6;  4 8, 20 8"></animate>
  </polyline>
  <polyline points="4,16 20,16" fill="none" stroke="currentColor" >
  <animate id="menu-bottom-line-on-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 16, 20 16; 4 10, 20 18;  4 4, 20 20"></animate>
  <animate id="menu-bottom-line-on-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 4, 20 20; 4 10, 20 18;  4 16, 20 16"></animate>
  </polyline>
</svg>
		</button>
</header>
<style>
header{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: var(--bg-main);
	height: var(--navbar-height);
	/* box-shadow:0 1px #b7b7b7; */
	    left: 0;
    right: 0;
}

.logo{
	font-weight: 200;
	font-size: 1.3rem;
}

.menu-toggle{
	display: none;
	visibility: hidden;
}



nav{
	    display: flex;
	align-items: center;
}

ul.nav-menu-list{
display: flex;
	flex-direction: row;
	list-style: none;
}
li{
	margin-left: 1rem;
}

a{
	color:inherit;
text-decoration: none;
}
a:hover{
	text-decoration:underline;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
	@media only screen and (max-width: 1400px){
}


/* // X-Large devices (large desktops, 1200px and up) */
	@media only screen and (max-width: 1200px){
}

/* // Large devices (desktops, 992px and up) */
	@media only screen and (max-width: 992px){
}

/* // Medium devices (tablets, 768px and up) */
	@media only screen and (max-width: 768px){
	.menu-toggle{
display: flex;
        justify-content: center;
        align-items: center;
	z-index:2;
		visibility: visible;
	}

	/* nav{ */
	/* 	display: none; */
	/* } */
nav{
	position: absolute;
	width:100%;
	height: 0px;
	top: 0;
	left: 0;
			overflow: hidden;
align-items: flex-start;
		flex-direction: column;
transition: height .3s cubic-bezier(0.65, 0.05, 0.36, 1), padding-top .3s cubic-bezier(0.65, 0.05, 0.36, 1) ;
		/* margin-top:48px; */
		background:var(--bg-main);

}
		nav.open{
		visibility: visible;
		height:100vh;
padding-top: 64px;
        margin-top: 0;
	}

	nav ul.nav-menu-list{
display: flex;
	flex-direction: column;
		width: 100%;
}
	nav ul.nav-menu-list li{
		opacity: 0;
		transition: opacity .2s ease-in, visibility 0s ease .2s;
		visibility: hidden;
	}
	 
	nav ul.nav-menu-list li{
		font-size: 3.5rem;
		padding:.5rem 2rem;
		margin: 0;
		line-height: .9;
		letter-spacing: -0.06ch;
		font-weight: 600;
	}
	nav.open ul.nav-menu-list li{
		opacity: 1;
		visibility: visible;
	}
}

/* // Small devices (landscape phones, 576px and up) */
	@media only screen and (max-width: 576px){
	nav ul.nav-menu-list li{
		font-size: 3rem;
	}

	@media only screen and (max-width: 400px){
	nav ul.nav-menu-list li{
		font-size: 2.5rem;
	}

}
</style>


<script>
		const btnMenu:HTMLElement = document.getElementById("menu-tggl")!;
		const navElement:HTMLElement = document.getElementById("nav")!;
		const animationMenuTopOnOpen:any = document.getElementById("menu-top-line-on-open") ;
		const animationMenuTopOnClose:any = document.getElementById("menu-top-line-on-close")!;
		const animationMenuBottomOnOpen:any = document.getElementById("menu-bottom-line-on-open")!;
		const animationMenuBottomOnClose:any = document.getElementById("menu-bottom-line-on-close")!;
		btnMenu.onclick = function(){
			if(navElement.classList.contains("open")){
				animationMenuTopOnClose.beginElement()
				animationMenuBottomOnClose.beginElement()

			}else{
				animationMenuTopOnOpen.beginElement();
				animationMenuBottomOnOpen.beginElement();
			}
			navElement.classList.toggle("open")
			document.documentElement.classList.toggle("no-scroll")
		}

</script>
