---

---
<header class="page-wrapper">
<div class="logo">Monika Skierecka</div>
<nav id="nav" class="ope">
	<ul class="nav-menu-list">
			<li><a href="/">Strona Glowna</a></li>
			<li><a href="/">Zdjecia</a></li>
			<li><a href="/">Cennik</a></li>
			<li><a href="/">Kontakt</a></li>
	</ul>
</nav>
		<button class="menu-toggle" id="menu-tggl">

	<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <!-- Example of a polyline with the default fill -->

  <!-- Example of the same polyline shape with stroke and no fill -->
  <polyline points="4,8 20,8" fill="none" stroke="currentColor" >
  <animate id="menu-top-line-on-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 8, 20 8; 4 12, 20 12;  4 4, 20 20"></animate>
  <animate id="menu-top-line-on-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 4, 20 20; 4 12, 20 12;  4 8, 20 8"></animate>
  </polyline>
  <polyline points="4,16 20,16" fill="none" stroke="currentColor" >
  <animate id="menu-bottom-line-on-open" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 16, 20 16; 4 12, 20 12;  4 20, 20 4"></animate>
  <animate id="menu-bottom-line-on-close" attributeName="points" keyTimes="0;0.5;1" dur="0.24s" begin="indefinite" fill="freeze" calcMode="spline" keySplines="0.42, 0, 1, 1;0, 0, 0.58, 1" values=" 4 20, 20 4; 4 12, 20 12;  4 16, 20 16"></animate>
  </polyline>
</svg>
		</button>
</header>
<style>
header{
	position: fixed;
	top: 0;
	width: 100%;
display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: var(--bg-main);
	height: 48px;
	box-shadow: 0 0 2px black;
}

.logo{
	font-weight: 200;
	font-size: 1.3rem;
}

.menu-toggle{
	display: none;
}



nav{
	    display: flex;
	align-items: center;
}

ul{
display: flex;
	flex-direction: row;
	list-style: none;
}
li{
	margin-left: 1rem;
}

a{
	color:inherit;
text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
	@media only screen and (max-width: 768px){
	.menu-toggle{
display: flex;
        justify-content: center;
        align-items: center;
	z-index:2;
	}

	/* nav{ */
	/* 	display: none; */
	/* } */
nav{
	position: absolute;
	width:100%;
	height: 0px;
	top: 0;
	left: 0;
			overflow: hidden;
align-items: flex-start;
transition: height .3s ease-in-out;
		margin-top:48px;
		background:#f7f5ee;
}
		nav.open{
		height:100vh;
	}

	nav ul{
display: flex;
	flex-direction: column;
		height:100%;
		width: 100%;
	margin-top: 16px;
}
	nav ul li{
		opacity: 0;
		transition: opacity .2s ease-in;
	}
	 
	nav ul li{
		font-size: 2rem;
		padding:.5rem 1rem;
		margin: 0;
	}
	nav.open ul li{
		opacity: 1;
	}
}
</style>


<script>
		const btnMenu:HTMLElement = document.getElementById("menu-tggl")!;
		const navElement:HTMLElement = document.getElementById("nav")!;
		const animationMenuTopOnOpen:SVGAnimationElement = document.getElementById("menu-top-line-on-open")!;
		const animationMenuTopOnClose:SVGAnimationElement = document.getElementById("menu-top-line-on-close")!;
		const animationMenuBottomOnOpen:SVGAnimationElement = document.getElementById("menu-bottom-line-on-open")!;
		const animationMenuBottomOnClose:SVGAnimationElement = document.getElementById("menu-bottom-line-on-close")!;
		btnMenu.onclick = function(){
			if(navElement.classList.contains("open")){
				animationMenuTopOnClose.beginElement()
				animationMenuBottomOnClose.beginElement()

			}else{
				animationMenuTopOnOpen.beginElement();
				animationMenuBottomOnOpen.beginElement();
			}
			navElement.classList.toggle("open")
			document.documentElement.classList.toggle("no-scroll")
		}

</script>
