---

---
<header>
<div class="logo">Monika Skierecka</div>
<nav>
	<ul>
			<li><a href="/">Strona Glowna</a></li>
			<li><a href="/">Zdjecia</a></li>
			<li><a href="/">Kontakt</a></li>
	</ul>
</nav>
</header>
<style>
header{
	position: sticky;
	top: 0;
display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
	background: var(--bg-main);
}

.logo{
	font-weight: 200;
	font-size: 1.3rem;
}

nav{
	    display: flex;
	align-items: center;
}

ul{
display: flex;
	flex-direction: row;
	list-style: none;
}
li{
	margin-left: 1rem;
}

a{
	color:inherit;
text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
</style>
