---

---
<header class="page-wrapper">
<div class="logo">Monika Skierecka</div>
<nav id="nav" class="ope">
	<ul class="nav-menu-list">
			<li><a href="/">Strona Glowna</a></li>
			<li><a href="/">Zdjecia</a></li>
			<li><a href="/">Cennik</a></li>
			<li><a href="/">Kontakt</a></li>
	</ul>
</nav>
		<button class="menu-toggle" id="menu-tggl">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu">
		<line x1="4" x2="20" y1="8" y2="8"/>
		<line x1="4" x2="20" y1="16" y2="16"/>
					</svg>
		</button>
</header>
<style>
header{
	position: sticky;
	top: 0;
display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: var(--bg-main);
	height: 48px;
	box-shadow: 0 0 2px black;
}

.logo{
	font-weight: 200;
	font-size: 1.3rem;
}

.menu-toggle{
	display: none;
}



nav{
	    display: flex;
	align-items: center;
}

ul{
display: flex;
	flex-direction: row;
	list-style: none;
}
li{
	margin-left: 1rem;
}

a{
	color:inherit;
text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
	@media only screen and (max-width: 768px){
	.menu-toggle{
display: flex;
        justify-content: center;
        align-items: center;
	z-index:2;
	}

	/* nav{ */
	/* 	display: none; */
	/* } */
nav{
	position: absolute;
	width:100%;
	height: 0px;
	top: 0;
	left: 0;
			overflow: hidden;
align-items: flex-start;
transition: height .5s ease-in-out;
		margin-top:48px;
		background:#f7f5ee;
}
		nav.open{
		height:100vh;
	}

	nav ul{
display: flex;
	flex-direction: column;
		height:100%;
}
	nav ul li{
		opacity: 0;
		transition: opacity .2s ease-in;
	}
	 
	nav ul li{
		font-size: 2rem;
		padding:  .5rem;
	}
	nav.open ul li{
		opacity: 1;
	}
}
</style>


<script>
		const btnMenu:HTMLElement = document.getElementById("menu-tggl")!
		const navElement:HTMLElement = document.getElementById("nav")!
		btnMenu.onclick = function(){
			navElement.classList.toggle("open")
		}

</script>
