---

---
<header class="page-wrapper">
<div class="logo">Monika Skierecka</div>
<nav>
	<ul>
			<li><a href="/">Strona Glowna</a></li>
			<li><a href="/">Zdjecia</a></li>
			<li><a href="/">Kontakt</a></li>
	</ul>
</nav>
		<button class="menu-toggle">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
		</button>
</header>
<style>
header{
	position: sticky;
	top: 0;
display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
	background: var(--bg-main);
}

.logo{
	font-weight: 200;
	font-size: 1.3rem;
}

.menu-toggle{
	display: none;
}


nav{
	    display: flex;
	align-items: center;
}

ul{
display: flex;
	flex-direction: row;
	list-style: none;
}
li{
	margin-left: 1rem;
}

a{
	color:inherit;
text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
	@media only screen and (max-width: 768px){
	.menu-toggle{
		display: block;
	}

	nav{
		display: none;
	}	
}
</style>
